In [2]:
import pandas as pd

In [10]:
xl_file = pd.ExcelFile('./cbdb_codebook.xlsx')
dfs = {sheet_name: xl_file.parse(sheet_name) for sheet_name in xl_file.sheet_names}
for t in dfs:
    if t!='TABLE_LIST':
        dfs[t].loc[:, 'affiliated_table'] = t

/Users/DaweiFu/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
dfs['TABLE_LIST']

,table_code,explanation_en,explanation_cn,note
0,ADDR_BELONGS_DATA,administrative unit hierarchy table,行政单位从属关系数据表,NaN
1,ADDR_CODES,administrative unit table,行政单位代码表,NaN
2,ADDR_PLACE_DATA,administrative unit with longitude and latitude,经纬度地址数据表,*
3,ADDR_XY,address x-y coordinates,地址的x，y坐标,*
4,ADDRESSES,address table,地址表,显示等级便于参考
...,...,...,...,...
81,TEXT_CODES,the code table of corpus of pre-modern writing...,前近代中国著述的汇编＋重要的研究著作的代码表,NaN
82,TEXT_INSTANCE_DATA,the data table of text versions,书籍版本的数据表,NaN
83,TEXT_ROLE_CODES,the code table of categories of relations betw...,人与文本关系的类别的代码表,NaN
84,TEXT_TYPE,the code table of various text types,书籍分类代码表,NaN
85,YEAR_RANGE_CODES,the code table of relative degree of exactness...,日期的相对准确度的代码表,NaN

In [12]:
with open('./表格信息.csv', 'w', encoding='utf-8') as f:
    dfs['TABLE_LIST'].to_csv(f, index=False, header=True)

In [13]:
all_df = pd.concat([dfs[i] for i in dfs if i!='TABLE_LIST'], axis=0, ignore_index=True, join='inner')
all_df = all_df.drop_duplicates(subset='column_code', inplace=False, ignore_index=True)
all_df
with open('./字段含义.csv', 'w', encoding='utf-8') as f:
    all_df.to_csv(f, index=False, header=True)

In [15]:
dfs['ADDRESSES']

,column_code,meaning_cn,meaning_en,data_type,coded,code_table,note,affiliated_table
0,c_addr_id,地址ID,address ID,NaN,NaN,NaN,NaN,ADDRESSES
1,c_addr_cbd,用于数据库维护的临时表,the temporary table for maintenance,NaN,NaN,NaN,NaN,ADDRESSES
2,c_name,地址名称,address name,NaN,NaN,NaN,NaN,ADDRESSES
3,c_name_chn,地址中文名称,address Chinese name,NaN,NaN,NaN,NaN,ADDRESSES
4,c_admin_type,行政区类别,administrative type,NaN,NaN,NaN,NaN,ADDRESSES
5,c_firstyear,地址名称起始年,address name first year used,NaN,NaN,NaN,NaN,ADDRESSES
6,c_lastyear,地址名称终止年,address name last year used,NaN,NaN,NaN,NaN,ADDRESSES
7,x_coord,x轴,x coordinate,NaN,NaN,NaN,NaN,ADDRESSES
8,y_coord,y轴,y coordinate,NaN,NaN,NaN,NaN,ADDRESSES
9,belongs1_ID,第一层从属行政区ID,upper level administrative unit ID,NaN,NaN,NaN,NaN,ADDRESSES
10,belongs1_Name,第一层从属行政区名称,upper level administrative unit name,NaN,NaN,NaN,NaN,ADDRESSES
11,belongs2_ID,第二层从属行政区ID,upper second-level administrative unit ID,NaN,NaN,NaN,NaN,ADDRESSES
12,belongs2_Name,第二层从属行政区名称,upper second-level administrative unit name,NaN,NaN,NaN,NaN,ADDRESSES
13,belongs3_ID,第三层从属行政区ID,upper third-level administrative unit ID,NaN,NaN,NaN,NaN,ADDRESSES
14,belongs3_Name,第三层从属行政区名称,upper third-level administrative unit name,NaN,NaN,NaN,NaN,ADDRESSES
15,belongs4_ID,第四层从属行政区ID,upper fourth-level administrative unit ID,NaN,NaN,NaN,NaN,ADDRESSES
16,belongs4_Name,第四层从属行政区名称,upper fourth-level administrative unit name,NaN,NaN,NaN,NaN,ADDRESSES
17,belongs5_ID,第五层从属行政区ID,upper fifth-level administrative unit ID,NaN,NaN,NaN,NaN,ADDRESSES
18,belongs5_Name,第五层从属行政区名称,upper fifth-level administrative unit name,NaN,NaN,NaN,NaN,ADDRESSES